[class^="col-"] {
    float: left;
    padding: 0.5rem;
}

/*22. Add a dark theme to sections*/
[data-section-theme="dark"] {
    --text-color: var(--color-white);
    --section-title-color: var(--color-white);
    background: var(--color-black)
}

/*23. Fix issues for dark theme*/
.footer-address {
    color: var(--text-color);
}
.social-link {
    display: block;
}
.social-link > svg {
    fill: var(--text-color);
}

/*24. Add background and hover state to services*/
.card-services .card-title {
    margin: 0;
}
.card-services a {
    display: block;
    padding: 2rem;
    background-color: var(--color-light-grey) ;
}
.card-services a:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
    text-decoration: none;
}

/*25. Add border to the button*/
:root {
    --button-display: inline-block;
    --button-padding: 1.5rem 3rem;
    --button-border: 0.2rem solid var(--color-primary);
    --button-color: var(--color-black);
    --button-text-decoration: none;
    --button-font-size: var(--font-size-large);
    --button-hover-color: var(--color-white);
    --button-hover-text-decoration: none;
    --button-hover-background: var(--color-primary);
  }

.button {
    display: var(--button-display);
    padding: var(--button-padding);
    border: var(--button-border);
    font-size: var(--button-font-size);
    color: var(--button-color);
    text-decoration: var(--button-text-decoration);
}
.button:hover {
    color: var(--button-hover-color);
    background: var(--button-hover-background);
    text-decoration: var(--button-hover-text-decoration);
}
[data-section-theme="dark"] {
    --button-color: var(--color-white)
}

/*26. Add border radius to images*/

.card-testimonial {
    text-align: center;
}
.card-testimonial .card-avatar {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}
.card-testimonial .card-quote cite {
    display: block;
    padding-top: 1rem;
    color:var(--color-primary)
}

/*27. Styling the section hero*/
.section-hero {
    background-size: 90rem auto;
}
.section-hero .section-title {
    margin-bottom: 5rem;
}
.section-hero .section-inner {
    padding: 10rem 40rem 2rem 0;
}

/*28. Fixing the header and menu navigation bar*/
:root {
    --header-padding: 4rem 0 0;
    --header-logo-position: relative;
    --header-logo-link-display: inline-block;
    --header-logo-link-position: absolute;
    --header-logo-link-top: -1rem;
    --header-logo-link-left: 0;
  }
.header {
    padding: var(--header-padding);
}
.header-logo {
    position: var(--header-logo-position);
}
.header-logo a{
    display: var(--header-logo-link-display);
    position: var(--header-logo-link-position);
    top: var(--header-logo-link-top);
    left: var(--header-logo-link-left);
}
